#pricing{
    padding: 100px;
}
.p-text{
    font-size: 2.5rem;
    list-style: 1.5;
}
.pricing{
    padding: 10px;
}
.pricing-col{
    padding: 3% 2%;
}
h2{
    text-align: center;
}
p{
    color: grey;
}